/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2015, 12:24:59 PM
    Author     : bhaberbe
*/
            #hdrLogo{
                height: 100px;
                width: auto;
                display: inline-block;
                background-color: #FFF;
                top: -13px;
                position: relative;
                left: 32px;
            }
            #BBlogo{
                height: 100px;
            }
            .removeInfo{
                font-size: 14px;
                color: red;
                cursor: pointer;
                float: right;
            }
            input[type="button"]{
                padding:5px;
                background-color: black;
                border: 1px solid white;
                cursor: pointer;
                font-family: sans-serif;
                color: white;
                font-variant: small-caps;
            }
            input[type="button"]:hover{
                box-shadow: 0px 0px 13px 1px;
            }
            .mainBlock{
                position: relative;
                /*box-shadow: 0px 0px 13px 3px;*/
                margin: 0 auto;
                padding: 10px 10px 10px 30px;
                text-align: center;
                background-color: white;
                z-index: 4;
                width: auto;
                height: 100%;
            }
            .imgAdditionArea{
                display: block;
                position: relative;
                width: 1000px;
            }
            .leafPopover{
                position: absolute;
                display: none;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 25px;
                z-index: 6;
            }
/*            .leafPopover{
                position: relative;
                margin: 0 auto;
                background-color: #000;
                max-width: 1120px;
            }*/
            .intro{
                display: block;
                font-family: sans-serif;
                position: relative;
                top: 100px;
            }
            .start{
                display: none;
            }
            .info{
                display: none;
            }
            p{
                font-size: 10pt;
                color: black;
                margin: 15px 0px;
                color: white;
                font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
            }
            .label{
                display: inline-block;
                margin-right: 10px;
            }
            .sbsSquare{
                width: 32%;
                border: 1px solid black;
                display: inline-table;
                height: 300px;
                padding-top:50px;
                margin-bottom: 15px;
            }
            .sbsSquare p:first-letter{
                text-transform: uppercase;
            }
            .sbsSquare p {
                font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
                letter-spacing:0.1em;
                text-align:center;
                text-transform: lowercase;
                line-height: 145%;
                font-size: 14pt;
                font-variant: small-caps;
                padding: 0px 10px;
            }
            .sbsSqaure h2{
                font-size: 16pt;
                font-family:Georgia,serif;
                color:#4E443C;
                font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
            }
            body{
                z-index: 1;
/*                background-image: url("../images/BrokenBook01.jpg");
                background-repeat: repeat;*/
            }
            .hoverBlue:hover{
                box-shadow: 0px 0px 13px 3px rgb(0,255,255);
            }
            .hoverGreen:hover{
                box-shadow: 0px 0px 13px 3px rgb(0,204,0);
            }
            .hoverRed:hover{
                box-shadow: 0px 0px 13px 3px rgb(255,0,127);
            }
            ul{
                margin: 10px 0px;
            }
            li{
                list-style-type: none;
            }
            #contextForm{
/*                    border-bottom: 2px solid rgb(0,204,0);
                    border-right: 2px solid rgb(0,204,0);
                    border-left: 2px solid rgb(0,204,0);*/
                position: relative;
                height: auto;
                text-align: left;
            }
            #contentForm{
/*                    border-bottom: 2px solid rgb(0,255,255);
                    border-right: 2px solid  rgb(0,255,255);
                    border-left: 2px solid  rgb(0,255,255);*/
                position: relative;
                height: auto;
                text-align: left;
            }
            #carrierForm{
/*                    border-bottom: 2px solid rgb(255,0,127);
                    border-right: 2px solid rgb(255,0,127);
                    border-left: 2px solid rgb(255,0,127);*/
                position: relative;
                height: auto;
                text-align: left;
            }
            #contextForm table{
                margin: 0 auto;
            }
            #contentForm table{
                margin: 0 auto;
            }
            #carrierForm table{
                margin: 0 auto;
            }
            /* 380px is the widest  label */
            li input[type="text"]{
                position:relative;
                height: 22px;
                left:380px;
            }
            li textarea{
                position: relative;
                left:380px;
                height: 44px;
            }
            #notesForm{
                border-bottom: 2px solid yellow;
                border-right: 2px solid yellow;
                border-left: 2px solid yellow;
                position: relative;
                height: auto;
            }
            #notesForm p{
                width: 475px;
                margin: 0 auto;
            }
            #notes{
                width: 475px;
                height: 325px;
                margin-top: 19px;
            }
            .infoPart{
                margin: 10px 0px;
            }
            #previousOwners{
                width: 300px;
            }
            .formLabel{
                font-family: sans-serif;
                letter-spacing:0.1em;
                text-align:center;
                line-height: 145%;
                font-size: 12pt;
                padding: 0px 10px;
                color: #6D6E7B;
                text-align:right;
            }

            .previewImg{
                height: 200px;
                width: auto;
                position: relative;
            }
            .start .previewImg, .info .previewImg{
                margin-bottom:20px;
            }
            .leaf{
                position: relative;
                display: inline-block;
                width:72%;
            }
            .sideBarInfo{
                position: relative;
                height: auto;
                width: 27%;
                z-index: 2;
                float: left;
                overflow-x: visible;
                top: 20px;
            }
            .green{
                background-color: green;
            }
            #sideBarArrange{
                position: relative;
                width: 278px;
                z-index: 2;
                float: left;
                overflow-x: hidden;
                top: 20px;
                background-color: #808080;
                display: none;
                min-height: 220px;
            }
            #arrangeCrumb{
                position: relative;
                margin: 5px 0px;
            }
            .parentSection{
                border: 1px solid black;
                background-color: gray;
                padding: 5px;
                font-size: 10pt;
                position: relative;
                margin: 8px 5px;
            }
            .parentSectionName{
                position: relative;
                display: inline-block
            }
            #leafLabel{
                position: relative;
                margin: 5px 0px;
                width: 181px;
            }
            #leafTmp{
                margin: 3px 0px;
                position: relative;
                display: block;
                height: 176px;
            }
            .sectionRemove{
                position: absolute;
                display: inline-block;
                border: 1px solid #000;
                right: 3px;
                padding: 2px;
                top: 2px;
                cursor: pointer;
            }
            #whatPiece{
                position: relative;
                height:auto;
            }
            .selectedI{
                height: 25px;
                width: 33px;
                position: absolute;
                cursor: pointer;
                display: none;
                top: 138px;
                left: 225px;
            }
            .unselectedI{
                height: 25px;
                width: 33px;
                position: absolute;
                cursor: pointer;
                display: block;
                top: 138px;
                left: 225px;
            }
            #folioSide1{
                position: relative;
                display: block;
                height: 173px;
                width: 100%;
                margin-right:25px;
                background-color: black;
                color: white;
                margin-bottom: 19px;
                margin-top: 13px;
                    
            }
            #folioSide1 .rectoImg{
                cursor: pointer;
            }
            #folioSide2 .versoImg{
                cursor: pointer;
                
            }
            #oneAndtwo .rectoImg{
                background-image: none !important;
                width: 120px !important;
                background-size: 120px 140px !important;
            }
            #oneAndtwo .versoImg{
                background-image: none !important;
                 width: 120px !important;
                background-size: 120px 140px !important;
            }
            #leafTmp .rectoImg{
                background-image: none !important;
                width: 120px !important;
                background-size: 120px 140px !important;
            }
            #leafTmp .versoImg{
                background-image: none !important;
                 width: 120px !important;
                background-size: 120px 140px !important;
            }
            #folioSide2{
                position: relative;
                display: block;
                height: 173px;
                width: 100%;
                background-color: black;
                color: white;
            }
            #oneAndtwo{
                position: relative;
                display: block;
                height: 206px;
                width: 100%;
                background-color: black;
                color: white;
                margin-bottom: 5px;
            }
            .addedInformation{
                border: 2px solid white;
                position: relative;
                min-height:50px;
                width: 100%;
                display: none;
            }
            #formTabs{
                position: relative;
                border:2px solid black;
                height:100%;
                width:100%;
                left: 0%;
                top : 4px;
            }
            #formTabs p{
                color: black;
            }
            .arrangeTrail{
                position: relative;
                min-height: 420px;
                width: 102%;
                text-align: left;
                margin: 8px 0px;
                overflow-x: auto;
                left: -22px;
                border-top: 1px solid black;
                padding-top: 5px;
                white-space: nowrap;
                margin-left: 4px;
            }
            .helperIcon{
                cursor: help;
                width: 26px;
                height: 26px;
                display: inline-table;
                top: 5px;
                position: relative;
                margin: 0px 3px;
                /*display: inherit;*/
            }
            .helperContent{
                display: block;
                position: relative;
                margin: 0px auto;
                z-index: 4;
                font-size: 12px !important;
                width: 247px;
                white-space: normal;
                box-shadow: 0px 0px 13px 1px black;
                text-align: left;
            }
            #fullImgContainer{
                position: absolute;
                top: 4px;
                min-height: 500px;
                max-height: 645px;
                min-width: 400px;
                max-width: 600px;
                display: none;
                z-index: 3;
                left: 0;
                right: 0;
                margin: 0 auto;
                background: linear-gradient(black,#6D6E7B);
                background: -webkit-linear-gradient(black,#6D6E7B);
                background: -o-linear-gradient(black,#6D6E7B);
                background: -moz-linear-gradient(black,#6D6E7B);
                padding: 9px 0px;
            }
            #fullImgContainer img{
                position: relative;
                max-width: 555px;
                max-height: 600px;
            }
            #fullImageShade{
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 2;
                background-color: black;
                opacity: .9;
                top: 0px;
                left: 0px;
                display: none;
            }
            #leafAdditionLabel{
                color: white;
                text-align: left;
                position: relative;
                font-weight: bold;
                font-size: 14pt;
                left: -10px;
                border-bottom: 1px solid white;
            }
            .closeBtn{
                top: 0px;
                right: 0px;
                color: white;
                border: 1px solid white;
                padding: 2px;
                position: absolute;
            }

            .content{
                border: 2px solid black;
                font-family: serif;
            }
            select{
                border: 2px solid black;
            }
            #saveMetadata{
                position: relative;
                display: inline-block;
                bottom: 0px;
                left:254px;
                margin-top: 15px;
                width: 80px;
            }
            #cancelMetadata{
                position: relative;
                display: inline-block;
                bottom: 0px;
                left:279px;
                width: 80px;
            }
            *:focus{
                    outline: none;
            }
            li[role="tab"]{ /* Forces Bottom Border under tabs */
                border-bottom: 1px solid black !important;
            }
            li[role="tab"].ui-tabs-active{
                border-bottom: transparent !important;
            }
            .ui-corner-all{
                border:none !important; /* Get rid of bevels */
            }
            .ui-tabs-anchor{ /* Tab markers. */
                font-variant: small-caps !important;
                font-size: 10pt !important;
                color: black !important;
                padding: .5em 1em;
                text-decoration: none;
                display: inline-table;
                position: relative;
                top: -4px;
                float: none !important;
            }
            .ui-tabs, .ui-tabs-nav{
                padding: 0px !important;
            }
            .ui-state-active{
                    outline: none;
            }
            .ui-tabs-active{
                
            }
            .ui-tabs-panel{
                min-height: 510px !important; /* Forces content area under tab to have a min height that works with the side area.  */
                max-height: 510px !important;
                border: none !important;
                overflow-y: auto;
            }
            .ui-widget-content{
/*                min-height:534px !important;  Forces content area under tab to have a min height that works with the side area.  
                max-height: 534px !important;
                border: none !important;
                overflow-y: auto;*/
            }
            .ui-widget-header{
                background-image: none !important;
                background-color: black !important;
                border: none !important;
            }
            .ui-slider-range{
                background-color: white !important;
            }
            .ui-slider-handle{
                margin-left: 0px !important;
            }
            .ui-state-default, .ui-state-hover{ /* background color of tabs and hover */
                background-image: none !important;
                background-color: #FFF !important;
            }
            #serverLogin{
                position: relative;
                border: 1px solid black;
            }
            #serverLoginFrame{
                position: relative;
            }
            .selectedFolio{
                width: 104% !important;
                background-color: white !important;
                
                color: black !important;
            }
            .selectedFolio .unselectedI{
                display: none;
            }
            .selectedFolio .selectedI{
                display: inline-block;
            }
            #initials, #borders, #lines, #columns, #leafDim, #tbDim, #lineDim, #inter, #marginal{
                display: none;
            }
            .leafTemplate{
                position: relative;
            }
            .versoCanvas{
                position: relative;
                display: inline-table;
                width: 48%;
                text-align:center;
                border: 2px solid black;
            }
            .rectoCanvas{
                position: relative;
                display: inline-table;
                width:48%;
                text-align: center;
                border: 2px solid black;
            }
            .rectoImg{
                position: relative;
                /*background-image: url('../images/addImg.jpg');*/                   
                max-height: 140px;
                max-width: 175px;
                /*background-size: 175px 140px;*/
                display: inline-block;
/*                    display: none;*/
            }
            .versoImg{
                position: relative;
                /*background-image: url('../images/addImg.jpg');*/
                max-height: 140px;
                max-width: 175px;
                /*background-size: 175px 140px;*/
                display: inline-block;
/*                    display: none;*/
            }
            .canvasImageFile{
                display: none;
            }
            
            .addImgBtn{
                border: 1px solid black;
                height: 100px;
                width: 100px;
                font-size: 14pt;
                text-align: center;
                margin: 0 auto;
                line-height: 100px;
                position: relative;
            }
            .knownInformation{
                position: relative;
                display: none;
            }
            .uploadness{
                display: none;
                position: absolute;
                border: 1px solid black;
                margin: 0px 2px auto;
                padding : 5px;
                background-color: black;
                color: white;
                z-index: 2;
                font-family: sans-serif;
            }
            .uploadness textarea{
                display: inline-table;
                height: 65px;
                width: 207px;
                margin-right: 0px;
                
            }
            .uploadness input{
                top: -6px;
                display: inline-block;
                position: relative;
            }
            /*img{
                height:300px;
                width: auto;
                position: relative;
            }*/
            .imgCatalogueInfo{

            }
            #whoCreates{
                font-size:14pt;
                color:white;
                font-weight:bold;
            }

            .arrangeSection .folioCount{
                display: block;
                position: absolute;
                bottom: 6px;
                right: 6px;
                height: 25px;
                width: 20px;
                /*border: 1px solid blue;*/
            }
            
            .folioCount img{
                height: 27px;
                width: 25px;
                position: absolute;
                right: -1px;
                top: -2px;
            }
            

            .arrangeSection[lockeddown="true"]{
                margin-bottom:3px;
            }

            .arrangeSection{
                display: block;
                position: relative;
                cursor: pointer;
                text-align: center;
                padding: 8px 8px 8px 8px;
                border: 2px solid black;
                font-size: 15px;
                font-family: serif;
                padding: 13px 72px 13px 21px;  
                margin-bottom: 30px;
                min-width: 112px;
                left: 12px;
                /* user cannot select text */
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                 user-select: none;
                 z-index: 2;
            }
            
            .arrangeSection div{
                z-index: 1;
            }

            .arrangeSection.parent{
                border: 2px solid black;
            }

            .arrangeSection.child{
                border: 2px solid black;
            }
            
            .arrangeSection.pAggr{ /* Parent sections aggregator */
                border: transparent;
                padding: 0px;
                margin-bottom: 0px;
            }
            
            .arrangeSection span{
                display: inline-block;
                margin: 0 auto;
                position: relative;
            }
            
            .arrangeSection[leaf="true"]{
                padding: 13px 33px 13px 21px !important;
                color: rgb(0,54,99);
            }
            
            .popoverTrail .arrangeSection{
                padding: 12px 35px !important;
            }
            
            .popoverTrail .rAreaLabel{
                background-color:#808080 !important;
                color: white !important;
            }
            
            div[relation="bucket"]{
                display: block;
                border: 2px solid green;
            }

            .selectedSection, .selectedUnassigned{
                background-color: black;
                color: white;
            }

            
            div[relation="bucket"]{
                display: block;
                border: 2px solid green;
            }

            .selectedSection, .selectedUnassigned{
                background-color: black;
                color: white;
            }

            .rangeArrangementArea{
                display: inline-table;
                /*display: inline-block;*/
                position: relative;
                border-right: 2px solid black;
                /*padding-right: 21px;*/
                padding-right: 5px;
                margin-right: 10px;
                height: auto;
                z-index: 2;
                /*overflow-y: auto;*/
/*                height: 512px;*/
                /*text-align: center;*/
                
            }
            .areaCover{
                position: absolute;
                top: 28px;
                left: -6px;
                width: 100%;
                height: 90%;
                z-index:4;
                background-color: black;
                opacity: .6;
            }
            .makeSortable{
                display: inline-block;
            }
            .doneSortable{
                display: none;
            }
/*            div[leaf="true"]{
                display: none;
                padding: 8px 8px 8px 8px !important;
            }*/
            .putInGroup{
                position: absolute;
                left: -22px;
                top: 9px;
            }
            #newGroupTitleArea{
                display: block;
                left: 0px !important;
                right: 0px !important;
                margin: 0 auto !important;
            }
            .mainBlockCover{
                width: 100%;
                height: 100%;
                z-index: 4;
                background-color: #000;
                opacity: 0.6;
                position: absolute;
                left: 0;
                top: 0;    
                display: none;
            }
            .noTitleWarning{
                display: none;
                color: red;
                position: relative;
            }
            #newGroupForm{
              display: none;
            }
            #allLeaves{
                position: relative;
                border: 2px solid black;
                padding: 4px;
                width: 700px;
                height: 350px;
                left: 28px;
                overflow-y: auto;
                margin: 10px 0px;
            }
            .breakConfirm{
                z-index: 6;
                text-align: center;
                border: 2px solid black;
                height: 53px;
                position: absolute;
                background-color: #000;
                padding: 3px 6px;
            }
            .labelConfirm{
                position: absolute;
                z-index: 6;
                background-color: gray;
                text-align: center;
                border: 2px solid black;
                height: 81px;
                padding-top: 8px;
            }
            .rAreaLabel{
                display: block;
                position: relative;
                text-align: center;
                border: 1px solid gray;
                padding: 5px;
                margin-bottom: 9px;
                color: gray;
                font-size: 17px;
            }
            .leafPopClose{
                right:0;
                top:0;
                color: white;
                /*border: 1px solid white;*/
                font-weight: bold;
                position: absolute;
                cursor: pointer;
                background-image: url('../images/closebutton.png');
                background-size: 21px 21px;
                height: 21px;
                width: 21px;
            }
            .arrangeAreaCover{
                width: 100%;
                height:100%;
                position: absolute;
                left: 0;
                top:0;
                z-index: 5;
            }
            .lockUp{
                position: absolute;
                color: #008000;
                font-size: 21px;
                font-weight: bold;
                z-index: 3 !important;
                background-image: url("../images/unlocked.png");
                background-size: 28px 28px;
                height: 25px;
                width: 25px;
                display: block;
                right: -28px;
                top: 45px;

            }
            
            .lockUp:hover{
                cursor: pointer;
            }
            
            .lockedUp{
                position: absolute;
                right: -33px;
                top: 20px;
                color: #008000;
                font-size: 21px;
                font-weight: bold;
                z-index: 3 !important;
                background-image: url("../images/locked.png");
                background-size: 25px 50px;
                height: 50px;
                width: 25px;
                display: block;
            }
/*            .ordered{
                padding: 0px !important;
                border: none !important;
                margin: 0px;
                display: block !important;
            }*/
            
            .parent .ordered{
                display: none !important;
            }
            
            .child .ordered{
                display: none !important;
            }
            
            .bbAnchor{
                max-height: 40px;
                max-width: 40px;
            }
            .dimLabel{
                top: 3px;
                display: inline-block;
                position: relative;
                margin: 4px 0px;
            }
            #leafHeight, #leafWidth {
                width: 107px;
                position: relative;
            }
            #tbHeight, #tbWidth{
                width: 58px;
                position: relative;
            }
            #lHeight, #lWidth{
                width: 100px;
                position: relative;
            }
            #interlinearAnnos, #marginalAnnos{
                position: relative;
                width: 95px; 
            }
            #saveCover{
                display: none;
                position: absolute;
                top: 0;
                left:0;
                height: 100%;
                width: 100%;
                z-index: 11;
                background-color: #000;
                opacity: 0.6;
            }
            #saveSpin{
                position: relative;
                margin: 0 auto;
                height: 100px;
                width: 100px;
                top: 300px;
            }
            #saveText{
                position: relative;
                top: 190px;
                color: white;
                font-size: 33px;
                margin: 0 auto;
                font-weight: bold;
            }
            .dragHelper{
                border: 2px solid greenyellow;
                position: absolute;
                display: block;
            }
            .dragCover{
                background-color:white;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 10;
            }
            .customPlaceholder{
                height: 30px;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: #093985;
                margin-left:22px;
            }
            .dropColor{
                color: white;
                background-color: #093985;
            }
            .countInt{
                position: absolute;
                z-index: 2;
                color: black;
                font-size: 18px;
                font-family: serif;
                /* margin: 0px auto; */
                display: block;
                right: 0;
                left: 0;
                margin: 0px auto;
                height: auto;
                width: auto;
                top: 4px;
            }
            .pageIcon{
                height: 38px !important;
                width: 28px !important;
                right: -3px !important;
                top: -10px !important;
                position: absolute;
            }
            textarea, input[type="text"]{
                font-family: serif!important ;
            }
            .ui-tabs-nav{
                font-family: sans-serif;
            }
            
            #folio1Label, #folio2Label, #oneAndtwoLabel{
                border: 1px solid black;
                position: relative;
                top: 1px;
            }
            
            .resetCount{
                margin-top: 5px;
                padding: 5px 10px !important;
            }
            
            .nomore{
                color: #F00;
                font-size: 15px;
                border: 1px solid red;
                padding: 4px;
            }
            
            .prepareleaf{
                width: 300px;
                position: relative;
                margin: 0 auto;
                margin-top: 13px;
                display: block;
                cursor: pointer;
            }
            .helPop{
                position: absolute;
                left: 16%;
                background-color: #000;
                display: none;
                padding: 38px 32px;
                width: 291px;
                height: auto;
                z-index: 6;
                top: 5px;
            }
            .helPop .popHdr{
                color: white;
                position: absolute;
                top: 15px;
                font-weight: bold;
                font-size: 14px;
                font-family: sans-serif;
                text-transform: uppercase;
                left: 18px;
                
            }
            .newgroupLabel{
                font-size: 12px;
                font-weight: bold;
                display: block;
                top: 4px;
                position: relative;
            }
            .popupContentWrapper{
                color:white;
                position: relative;
                font-family: sans-serif;
                font-size: 14px;
            }
            #newGroupTitle{
                width: 100%;
                border: 1px solid black;
                position: relative;
                top: 5px;
                height: 25px;
                font-size: 18px;
                margin-top: 3px;
            }
            #groupTitle{
                position: relative;  display: inline-block; top: 6px;
                width: 335px;
            }
            .sortTitle{
                display: inline-block;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                font-size: 18px;
                z-index: 5;
                width: 258px;
                top: 43px;
            }
            
            .publishTitle{
                display: block;
                position: relative;
                text-align: center;
                z-index: 5;
            }
            
            
            #syncNotice, #syncNotice_load{
                left: 0px; 
                right: 0px; 
                margin: 0 auto; 
                top: 131px;
                display: none
            }
            
            #syncNotice, #gotIT{
                display: none;
            }
            
            .syncText{
                padding: 8px;
                margin-bottom: 5px;
                font-family:sans-serif;
            }
            
            #syncNotice img{
                position: relative;
                display: block;
                margin: 0 auto;
                top: 16px;
                height: 120px;
            }
            .columnActions{
                margin-bottom: 7px;
                border-bottom: 1px dashed gray;
                padding-bottom: 5px;
                text-align: center;
            }
            #hdrLogo{
                height: auto;
                width: auto;
                display: inline-block;
                background-color: #FFF;
                top: -1px;
                position: relative;
                left: 32px;
            }
            #BBlogo{
                height: 85px;
            }
            .breakContent{
                margin-top: 4px;
            }
            #dragCloneHelp{
                position: absolute;
                top:0px;
                right:0px;
                width: 500px;
                height: 100%;
                background-color:white;
                z-index: 4;
            }
            .newLabel{
                margin-bottom: 5px;
                width: 156px;
                margin-left: 3px;
                margin-top: 3px;
                height: 20px;
                font-size: 14px;
            }
            .hidden {
                display:none !important;
            }
            .helper{
                margin-left:0px !important;
            }
            .addLacuna{
                display: none;
            
            }
            #gotoMirador:disabled, #publishBtn:disabled{
                background-color: gray !important;
            }
            #gotoMirador{
                padding: 3px 0px;
                display: inline-block;
                background-color: #791C2D;
                width: auto;
                font-size: 16px;
                font-weight: bold;
                font-family: sans-serif;
                text-align: center;
                color: white;
                right: 5px;
                position: absolute;
                cursor: pointer;
                top: 64px;
                z-index: 5;
            }
            
/*            #publishBtn{
                padding: 10px;
                border: 3px solid #791C2D;
            }*/
            
            #publishBtn{
                padding: 3px 0px;
                display: block;
                background-color: #791C2D;
                width: auto;
                font-size: 16px;
                font-weight: bold;
                font-family: sans-serif;
                text-align: center;
                color: white;
                right: 5px;
                position: absolute;
                cursor: pointer;
                top: 9px;
                z-index: 5;
            }
            
            #mainBlockHelp{
                display: none;
                position: fixed;
                margin: 0 auto;
                height: 80%;
                overflow-y: auto;
                border-radius: 25px;
                top:15px;
            }
            #mainBlockHelp h4{
                margin: 5px 10px !important;
                text-align: left !important;
                color: #6D6E7B;
                font-family: sans-serif;
                font-size: 18px;
                font-weight: bold;
            }
            #mainBlockHelp h3{
                margin: 5px 10px !important;
                text-align: left !important;
                color: #6D6E7B;
                font-family: sans-serif;
                font-size: 14px;
                font-weight: bold;
                border-bottom: 1px solid black;
            }
            #mainBlockHelp p{
                padding: 0px !important;
                text-align: left !important;
                margin: 0px 10px !important;
                color: #6D6E7B;
                font-family: sans-serif;
                font-size: 14px;
                word-wrap: break-word;
            }
            
            #mainBlockHelp a {
                padding: 0px !important;
                text-align: left !important;
                color: #6D6E7B;
                font-family: sans-serif;
                font-size: 14px;
                text-decoration: underline;
            }
            #mainBlockHelp a:selected {
                padding: 0px !important;
                text-align: left !important;
                color: #6D6E7B;
                font-family: sans-serif;
                font-size: 14px;
                text-decoration: underline;
            }
            #mainBlockHelp .demoContent{
                padding: 5px 0px;
                
            }
           
            .mainBlock.imgAdditionArea{
                background-color:black ;
            }
            
            /* check in here for duplicates */
               p{
                color: black;
            }

            
            div[leaf="true"]{
                display: block;
                border: 2px solid #8F8F8F !important;
                font-size: 12px !important;
            }
            .child .child{
                display: none;
            }
            .parent .child{
                display: none;
            }
            .unassigned .child{ /* This will hide leaves sitting in the unassigned areas. */
                display: none 
            }
            .unassigned .parent{ /* This will hide leaves sitting in the unassigned areas. */
                display: none !important;
            }
                                  
            .popoverTrail{
                height: 425px !important;
            }
            
            .popoverTrail .rangeArrangementArea{
                height: 420px !important;
                overflow-y: auto;
            }
            
            .unassigned{
                display: none;
            }
            
            .popoverTail .notBucket{
                border: none !important;
            }
            
            .unassigned{
                font-family: sans-serif;
            }
            
            .bucket{
                display: block !important;
                left: 0px !important;
            }
            .notBucket{
                padding: 4px 45px 4px 4px;
                /*border: 1px solid #093985;*/
                margin-bottom: 40px; 
                overflow-y : scroll;
                height: 408px;
            }
            
            .ordered .child{
                display: block !important;
            }
            div[relation="bucket"] {
                display: inline-block;
                border-right: 2px solid black;
                border-left: transparent;
                border-top: transparent;
                border-bottom: transparent;
            }  

            .demoContent{
                background-color: white;
                border: 2px solid #6D6E7B;
                font-family: sans-serif;
            }
            .popHdr{
                color:white;
                position: absolute;
                top: 10px;
                font-weight: bold;
                font-size: 22px;
                font-family: sans-serif;
                text-transform: uppercase;
                left: 50px;
            }
            .demoPopover input[type="button"]{
                padding: 2px 20px;
                display: block;
                background-color: #791C2D !important;
                width: 275px;
                font-size: 20px;
                font-weight: bold;
                font-family: sans-serif;
                margin: 10px auto;
            }
            .demoPopover{
                position: fixed;
                left: 0px;
                right: 0px;
                margin: 0px auto;
                top: 5%;
                background-color: #000;
                padding: 37px 45px;
                display: none;
                width: 497px;
                z-index: 5;
                overflow-y : auto;
                max-height: 85%;
            }
            
            .ui-sortable-helper{
                height: auto !important;
                position: absolute;
                margin: 0px;
                display: block;
                padding-right: 18px;
                padding-top: 5px;
                left: -15px;
                border: none;
                box-shadow: none;
                opacity: .8;
            }
            
            .ui-draggable-helper{
                
            }
            #actionMsg{
                display: none;
                position: fixed;
                bottom: 10px;
                right: 0px;
                height: 25px;
                background-color: black;
                color: white;
                font-weight: bold;
                z-index: 10;
                padding: 6px;
                text-align: center;
                line-height: 24px;
            }
            #makeTopRange{
                display: none; 
            }
